---
import Logo from './icons/Logo'
import Themetoggle from './Themetoggle.astro'
---

<header>
  <div class="fb items-center">
    <span class="gpt-title">CasperGPT</span>
    <Themetoggle />
  </div>
  {/*<div class="fi mt-2">
    <span class="gpt-title">CasperGPT</span>
    <span class="gpt-subtitle">Demo</span>
  </div>
  <p mt-1 op-60>Based on OpenAI API (gpt-3.5-turbo).</p>*/}
</header>
